/* 导航栏 */
nav {
    margin: 0 auto;
    width: 960px;
    height: 96px;
    box-shadow: 1 0 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row;
}

.zxlog {
    margin-top: 25px;
    margin-right: auto;
    cursor: pointer;
}

.navTitle_wrap {
    width: 580px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navTitle_wrap>span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.navTitle_wrap>span:nth-child(1) {
    width: 64px;
    height: 44px;
}

.navTitle_wrap>span:nth-child(n+2) {
    width: 94px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTitle_title>a {
    width: 94px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* 下拉框 */
.drop_wrap {
    position: absolute;
    top: 69px;
    left: 100px;
    width: 172px;
    height: 139px;
    background: url("../../img/cut/首页/矩形674.png") no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    z-index: 2;
}

.drop_wrap3 {
    position: absolute;
    top: 69px;
    left: 352px;
    width: 172px;
    height: 139px;
    background: url("../../img/cut/首页/矩形674.png") no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    z-index: 2;
}

.drop_wrap2 {
    position: absolute;
    top: 69px;
    left: 224px;
    width: 172px;
    height: 139px;
    background: url("../../img/cut/首页/矩形674拷贝.png") no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    z-index: 2;
}

.drop_wrap4 {
    position: absolute;
    top: 69px;
    left: 482px;
    width: 172px;
    height: 139px;
    background: url("../../img/cut/首页/矩形674拷贝.png") no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    z-index: 2;
}

.drop_wrap_n {
    margin: 10px;
    width: 154px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.drop_wrap_n span {
    font-family: PingFang-SC-Regular;
    font-size: 13px;
}

.drop_text3 {
    width: 154px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.drop_text3 img:nth-child(1) {
    position: absolute;
    top: 12px;
    left: 13px;
}

.drop_text3 .copy3 {
    position: absolute;
    top: 12px;
    left: 13px;
    display: none;
}

.drop_text3 .text3 {
    color: #8a8e9a;
    position: absolute;
    top: 0px;
    left: 0px;
}

.drop_text3:hover .prototype {
    display: none;
}

.drop_text3:hover .text3 {
    color: orange;
}

.serve:hover .copy3 {
    z-index: -2;
}

.drop_text3:hover .copy3 {
    color: orange;
    display: block;
}

.drop_text3:hover {
    color: orange;
}

#navtitle1:hover .drop_wrap {
    display: flex;
    display: block;
}

#navtitle2:hover .drop_wrap2 {
    display: flex;
    display: block;
}

#navtitle3:hover .drop_wrap3 {
    display: flex;
    display: block;
}

#navtitle4:hover .drop_wrap4 {
    display: flex;
    display: block;
}

.home:hover {
    color: orange;
}

.text3 {
    width: 154px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.text2 {
    width: 154px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a8e9a;
}

.drop_text3:hover .text2 {
    color: orange;
}

.text3_son {
    position: absolute;
    top: 12px;
    left: 50px;
    z-index: 55555555;
}