.join {
    display: flex;
    flex-flow: column;
}

.joinLogo {
    min-width: 960px;
}

.join_wrap {
    width: 100%;
    min-width: 960px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_box1 {
    width: 188px;
    height: 138px;
    background-color: #ffffff;
    box-shadow: 0px 10px 26px 1px rgba(13, 22, 44, 0.06);
    border-radius: 3px;
    border: solid 1px #f2f2f2;
    margin: 30px 10px 0px 0px;
    display: flex;
    align-self: flex-start;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.join_box1 span {
    display: block;
    width: 188px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFang-SC-Medium;
    font-size: 18px;
}

.join_text1 {
    background-image: linear-gradient(0deg,
            #f8b911 0%,
            #ffd25b 100%),
        linear-gradient(#ffffff,
            #ffffff);
    font-family: PingFang-SC-Bold;
    font-size: 18px;
    color: #ffffff;
}

.join_box2 {
    height: 943px;
    width: 780px;
    margin: 10px 0px 0px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.join_box_son1 {
    width: 781px;
    height: 110px;
    background-color: #ffffff;
    box-shadow: 0px 10px 26px 1px rgba(13, 22, 44, 0.06);
    border-radius: 3px;
    border: solid 1px #f2f2f2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.join_box_son4 {
    width: 781px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.join_round {
    width: 8px;
    height: 8px;
    background-color: #f8b911;
    border-radius: 4px;
    background-clip: border-box;
    margin: 0px 8px 0px 30px;
}

.join_text3 {
    display: flex;
    align-items: center;
}

.join_text4 {
    margin-top: 20px;
}

.join_text4 span:nth-child(1) {
    margin-left: 45px;
    margin-right: 30px;
}

.join_text4 span:nth-child(2) {
    margin-right: 40px;
}

.join_text3 h1 {
    font-family: PingFang-SC-Medium;
    font-size: 16px;
    color: #f8b911;
}

.join_min_logo {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.join_min_logo img:nth-child(1) {
    position: absolute;
    top: -33px;
    right: 60px;
}

.join_min_logo img:nth-child(2) {
    position: absolute;
    top: -33px;
    right: 20px;
}

.join_box_son2 {
    width: 781px;
    height: 650px;
    background-color: #ffffff;
    box-shadow: 0px 10px 26px 1px rgba(13, 22, 44, 0.06);
    border-radius: 3px;
    border: solid 1px #f2f2f2;
    display: flex;
    flex-flow: column nowrap;
}

.join_box_son3 {
    width: 781px;
    height: 30px;
    margin-top: 12px;
}

.join_box_son2_main {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.join_box_son2_main1 {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.join_box_son2_main1 h1 {
    margin-left: 43px;
    font-family: PingFang-SC-Medium;
    font-size: 16px;
    color: #f8b911;
}

.join_box_son2_main1 span {
    margin-left: 43px;
}

.join_box_son2_main2 {
    flex: 8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.join_box_son2_main2 h1 {
    margin-left: 43px;
    font-family: PingFang-SC-Medium;
    font-size: 16px;
    color: #f8b911;
}

.join_box_son2_main2 span {
    margin-left: 43px;
}